@page "/"

<PageTitle>Início</PageTitle>

<h1>Bem vindo! O que gostaria de fazer?</h1>

Bem-vindo ao sistema do desafio de API bancária da SIliconVillage!.
Aqui você pode cadastrar pessoas, contas e realizar algumas opreções bancárias.

Feito por Mateus Bieger Marques