@page "/"

<PageTitle>Início</PageTitle>

<h1>Bem vindo! O que gostaria de fazer?</h1>

Bem-vindo ao seu novo aplicativo.


<NavLink class="btn btn-primary" href="/counter">
    Ir para Dashboard
</NavLink>